# Miscellaneous / OS
*.class
*.log
*.pyc
*.swp
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ejournal.*
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
#.vscode/

# Flutter / Dart / Pub / Cache
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
ephemeral/

# Packages / Dependencies
/packages
/.packages

# iOS / macOS build files & pods
**/ios/Pods/
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/.symlinks/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/DerivedData/
**/macos/Pods/
**/macos/Flutter/ephemeral/

# Android native build & C++ caches
/android/app/debug
/android/app/profile
/android/app/release
android/.gradle/
android/app/.cxx/
android/app/build/
.cxx/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Environment files
.env
*.env

# Large archives or executable packages (prevents large push issues)
*.zip
*.tar.gz
*.apk
*.aab
*.ipa

#model
*.gguf

# # Miscellaneous
# *.class
# *.log
# *.pyc
# *.swp
# .DS_Store
# .atom/
# .build/
# .buildlog/
# .history
# .svn/
# .swiftpm/
# migrate_working_dir/

# # IntelliJ related
# *.iml
# *.ipr
# *.iws
# .idea/

# # The .vscode folder contains launch configuration and tasks you configure in
# # VS Code which you may wish to be included in version control, so this line
# # is commented out by default.
# #.vscode/

# # Flutter/Dart/Pub related
# **/doc/api/
# **/ios/Flutter/.last_build_id
# .dart_tool/
# .flutter-plugins
# .flutter-plugins-dependencies
# .pub-cache/
# .pub/
# /build/

# # Symbolication related
# app.*.symbols

# # Obfuscation related
# app.*.map.json

# # Android Studio will place build artifacts here
# /android/app/debug
# /android/app/profile
# /android/app/release


# # Android native build caches
# android/app/.cxx/
# android/app/build/
# .cxx